<div class="phone-status">
    <div class="phone-info">
        <ul>
            <li class="signal"></li>
            <li class="carrier"><%= data.carrier %></li>
            <li class="wifi"></li>
        </ul>
    </div>
    <div class="time"></div>
    <div class="battery"></div>
</div>