*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #1580fb;
}

html{
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    background: skyblue;
    width: 100%;
}

input, button{
    outline: none;
}

.phone{
    width: 100%;
    height: auto;
    position: relative;
    background: none;
}

.screen{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0px;
    font-family: 'Helvetica Neue';
}

.header{
    height: 64px;
    background: #f7f7f7;
}

    .phone-status{
        height: 20px;
        font-size: 0.7rem;
        font-weight: 500;
        padding: 3px 6px;
        display: flex;
        justify-content: space-between;
    }

        .phone-info, .battery{
            width: 82px;
        }

        .phone-info ul{
            display: flex;
            justify-content: flex-start;
            transition: ease 300ms;
        }

            .signal{
                width: 15px;
                background: url('../img/signal.jpg') center 2px / contain no-repeat;
                margin-top: 1px;
            }

            .carrier{
                margin: 0 4px;
            }

            .wifi{
                width: 13px;
                background: url('../img/wifi.jpg') center 2px / contain no-repeat;
            }

        .time{
            font-weight: 600;
        }

        .battery{
            background: url('../img/battery.jpg') right 2px / auto no-repeat;
        }

    .back-btn{
        color: var(--main-color);
    }

    .back-btn .icon{
        display: inline-block;
        border-bottom: 3px solid var(--main-color);
        border-left: 3px solid var(--main-color);
        border-radius: 2px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
    }

    .back-btn:hover, .back-btn .icon:hover{
        opacity: 0.75;
    }


@media (min-height: 845px) and (min-width: 1000px){
    .phone{
        background: url('../img/iphone.png') center / auto no-repeat;
        height: 894px;
        transform: scale(0.9);
    }

    .screen{
        width: 382px;
        height: 668px;
        top: 110px;
    }
}


